
.prompt_textarea{
    background-color:transparent;
    display:inline-flex;
    width:90%;
    border:none;
    resize:none;
    padding:5px;
    margin-left:10px;
    margin-right:10px;
    color:#ffffff;
    height: 500px;
    outline: none;
    font-size:18px;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.prompt_textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.prompt_textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}